doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Pokenea
  body
    h1 Página de Pokenea
    img(src=imageSrc, alt='Imagen del Pokenea')
    p Frase filosófica: #{frase_filosofica}